.carrito {
    color: black;
}

.cart-title{
    width: 100%;
    color: #282828;
    font-size: 35px;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 15px;
}

.products-cart{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 18px;
    padding: 10px;
}

.cart-titles {
    margin-top: 15px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
}

.cart-titles h3 {
    width: 20%;
    margin-bottom: 10px;
}

.product-info-cart{
    margin-top: 15px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
    align-items: center;
}

.product-info-cart h3{
    width: 20%;
}

.product-info-cart .stock-counter-cart{
    width: 20%;
}

.product-info-cart .img-title-cart{
    width: 20%;
}

.stock-count-mobile {
    display: none;
}

.img-title-cart{
    display: flex;
    align-items: center;
}

.img-title-cart h3 {
    width: 70%;
    font-size: 17px;
}

.img-title-cart img{
    width: 50%;
}

.cart-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.payment-methods-cart {
    margin-top: 15px;
}

.payment-methods-cart img{
    width: 10%;
}

.total{
    margin-top: 15px;
    width: 20%;
}

.total h3{
    margin-bottom: 15px;
    font-weight: 500;
}

.purchase {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    height: 50px;
}

.purchase:hover {
    background-color: #00964B;
    color: white;
    font-weight: bold;
    border: 2px #00964B solid;
}

.clean-cart {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px black solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    height: 50px;
}

.clean-cart:hover {
    background-color: crimson;
    color: white;
    font-weight: bold;
    border: 2px crimson solid;
}

.purchase:disabled {
    background-color: #ededed;
    color: gray;
    border: 1px gray solid;
}

@media (max-width: 767px){

    .cart-titles {
        display: none;
    }

    .product-info-cart h3{
        display: none;
    }
    
    .product-info-cart .stock-counter-cart{
        display: none;
    }

    .stock-count-mobile {
        display: block;
        width: 15%;
        font-size: 20px;
        font-weight: bold;
    }
    
    .product-info-cart .img-title-cart{
        width: 100%;
    }

    .img-title-cart img{
        width: 50%;
    }

    .cart-total {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .total{
        width: 100%;
    }
    
    .payment-methods-cart {
        display: none;
    }

}

@media (min-width: 767px) and (max-width: 1024px){

    .img-title-cart img{
        width: 80%;
    }
    .cart-total {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .total{
        width: 100%;
    }
    
    .payment-methods-cart {
        display: none;
    }
}