.counterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .numContainer {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 140px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 40px auto 0;
  }
  
  .numContainer__button {
    color: #1d2f6f;
    width: 100%;
    height: 100%;
    border: 1px solid #8390FA;
    border-radius: 4px;
    font-size: 1.6rem;
    transition: all 250ms ease-out;
  }
  
  .numContainer__button:hover {
    border: none;
    color: #ffffff;
    background-color: #FAC748;
  }
  
  .numContainer__button[disabled] {
    color: grey;
    background-color: gainsboro;
    border: none;
  }
  
  .numContainer__amount {
    text-align: center;
    height: 100%;
    padding-top: 10px;
    color: #1d2f6f;
    background-color: #ffffff;
  }
  
  .button__main {
    color: black;
    background-color: #FAC748;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 20px auto;
    width: 148px;
    height: 54px;
    cursor: pointer;
  }

  .button__main__hidden {
    visibility: hidden;
  }

  .button__secondary {
    color: #ffffff;
    background-color: #1d2f6f;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 20px auto;
    width: 148px;
    height: 54px;
    cursor: pointer;
  }

  .button__secondary__hidden {
    visibility: hidden;
  }