.product-card {
    text-align: center;
    }
  
  .product-card__image {
    width: 284px;
    height: 284px;
    object-fit: contain;
  }
  
  .product-card__name {
    font-size: 16px;
    font-weight: 400;
  }

  .product-card__category {
    font-size: 18px;
    font-weight: 600;
  }
  .product-card__price {
    
    color: white;
    font-size: 20px;
    font-weight: 600;
    max-width: fit-content;
    margin: auto;
    background-color: rgb(53, 109, 232);
    padding: 8px;
    border-radius: 4px;
  }