.menu {
    background-color: gold;
    height: 100px;
}

.cart {
    color: black;
    width: 24px;
    height: fit-content;
    
}

.links {
    text-decoration: none;
    padding: 16px 48px;
    color: black;
    margin: auto;
    font-weight: 600;
}

.links:hover {
    text-decoration: none;
    padding: 16px 48px;
    color: rgb(53, 104, 222);
    margin: auto;
    font-weight: 600;
    font-size: 18px;
}

.logo {
    width: 256px;
    height: fit-content;
}