.menu {
    background-color: gold;
    height: 100px;
}

.cart {
    color: black;
    width: 24px;
    height: fit-content;
    
}

.links {
    text-decoration: none;
}

.logo {
    width: 256px;
    height: fit-content;
}