.button__main {
    color: black;
    background-color: #FAC748;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 20px auto;
    width: 148px;
    height: 54px;
    cursor: pointer;
  }
  .button__main__short {
    color: black;
    background-color: #FAC748;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 20px auto;
    width: 54px;
    height: 54px;
    cursor: pointer;
  }
  .product-card__image__cart {
    width: 50%;
    object-fit: contain;
  }

  .cartItem {
    display: flex;
    width: 80%;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin: 24px;
  }
  
  .cartItem > div {
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
  }
  
  .cartItem__title > h4 {
    width: 90px;
  }
  
  .cartItem__image > img {
    object-fit: contain;
    height: 100px;
    width: 90px;
  }

  .carritoNum {
  background-color: coral;
  color: azure;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  
  }

  .cart{
    margin: 8px;
    color:black
  }

  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #FAC748;
    font-size: 12px;
    color: black;
    
  }

  .input-compra {
    padding:10px;
    border-radius: 8px;
    border-color: black;
    margin-top: 16px;
    
  }

  .form-data {
    margin: auto;
    margin-top: 64px !important;
    padding: 48px;
    border-radius: 8px;
    width: 480px;
    height: 360px;
    box-shadow:0 0 16px 4px rgba(0,0,0,0.06);
  }